.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.searchBar {
  width: 100%;
  border: none;
  border-bottom: 4px solid #000;
  font-size: 1.2rem;
  border-radius: 16px 16px 0 0;
  padding: 5px;
}

.searchBar:focus {
  outline: none;
  border-bottom: 4px solid blue;
}
.searchHolder {
  border: 4px solid #000;
  border-radius: 14px;
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 24px auto;
  overflow: hidden;
}

.searchData {
  background-color: #CFCFFD;
}

.searchData ul {
  padding: 12px;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.searchData li {
  display: inline;
  width: 200px;
}