
TheatreSystem/obj/Debug/net7.0/TheatreSystem.AssemblyInfo.cs
TheatreSystem/obj/Debug/net7.0/apphost.exe
TheatreSystem/obj/Debug/net7.0/apphost.exe
TheatreSystem/obj/Debug/net7.0/TheatreSystem.AssemblyInfo.cs
TheatreSystem/obj/Debug/net7.0/TheatreSystem.AssemblyInfoInputs.cache
TheatreSystem/obj/Debug/net7.0/TheatreSystem.assets.cache
TheatreSystem/obj/Debug/net7.0/TheatreSystem.GeneratedMSBuildEditorConfig.editorconfig
TheatreSystem/obj/Debug/net8.0/TheatreSystem.AssemblyInfo.cs
TheatreSystem/obj/Debug/net8.0/TheatreSystem.AssemblyInfoInputs.cache
TheatreSystem/obj/Debug/net8.0/TheatreSystem.assets.cache
TheatreSystem/obj/Debug/net8.0/TheatreSystem.csproj.AssemblyReference.cache
TheatreSystem/obj/Debug/net8.0/TheatreSystem.GeneratedMSBuildEditorConfig.editorconfig
